/* Grid
---------------------------------------------*/
body {
    padding: 20px 0px;
}

.row {
    margin-top: 20px;
}


/* Images
---------------------------------------------*/
img {
    max-height:100%;
    max-width:100%;
}

